@model CapModel.UserMedia
@*Main Author Name:  Karandeep Karandeep
    Description of Page: Allows users to record video*@
@{
    ViewBag.Title = "Index";
}

<div class="video-bg">
    <div class="container">
        <h2>Record Video</h2>
        <div class="row">
            <div class="col-lg-6">
                <span id="result"></span><br>
                <button id="camera-me">Turn on Camera</button>
                <video autoplay></video>
                </div>
                <div class="col-lg-6">
                    <div id="video-preview">
                    </div>
                    <button id="record-me" disabled>Record</button><br>
                    <button id="stop-me" disabled>Stop</button>
                    <span id="elapsed-time"></span>
                </div>
            
        </div>
    </div>
</div>
<script src="~/Scripts/whammy.min.js"></script>
<script src="~/Scripts/camscript.js"></script>
<script>

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22014378-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>