body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-brand{
    background: url('../Images/Logo-IT-2.png') no-repeat;
    background-size: 193px 50px;
    height:50px;
    width:200px;
}
#nav-bar
{
    padding-top:8px;
    padding-bottom:8px;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color:#777;
}
.navbar, .navbar.navbar-default {
    color: #fff;
}
.navbar.navbar-inverse {
    background-color: #fff;
    color: #542437;
}

.form-group .form-control {
}

.index-bg {
    background: url('../Images/6Creep.png');
    background-size: cover;
    background-position:top;
    height: 100vh;
    margin-top: -50px;
}

.index-tagline {
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 15%;
    color: #4b1b2e;
}

#index-tagline-text {
    font-size: 4em;
}

.show {
    background-color: #fff;
}

.login-bg {
    background: url('../Images/8Creep.png');
    background-position: right bottom;
    background-size: cover;
    height: 100vh;
    margin-top: -50px;
}

.video-bg {
    /*background:url('../Images/3Creep.jpg');*/
    background-position: right bottom;
    background-size: cover;
    height: 100vh;
}

.common-bg {
    /*background:url('../Images/3Creep.jpg');*/
    background-size: cover;
    height: 120vh;
}

.login-form {
    margin-top: 8%;
    color: purple;
}

.login-tagline {
    text-align: center;
    margin-top: -5%;
    color: white;
}

.register-form {
    margin-top: 8%;
    color: purple;
}

.advanced-search {
    /*background-color:#eee;*/
    box-shadow: rgba(0,0,0,0.4) 0px 0px 10px;
}

.job-search-page {
    /*background:url('../Images/3Creep.jpg');*/
    background-size: cover;
}
.form-group label.control-label{
    color:#545454;
}
.form-group .checkbox label, .form-group .radio label, .form-group label{
    color:#545454;
}
